@font-face {
  font-family: des;
  src: url(./IRANSansWeb_Light.ttf);
}
@font-face {
  font-family: title;
  src: url(./Bogart-Black-trial.ttf);
}

.main {
  background-image: url("./img/1.jpg");
  background-size: cover !important;
}
.showproject {
  font-family: des;
}
.explain {
  display: none;
}
.title {
  font-family: title;
}
.explain {
  font-family: des;
}
.product:hover > .explain {
  display: block;
}
.product:hover > .image > .pic {
  mix-blend-mode: multiply;
}
