@font-face {
  font-family: name;
  src: url(./Lalezar-Regular.ttf);
}

.main {
  background-image: url("./img/4.jpg");
  background-size: cover !important;
  
}

@font-face {
  font-family: nf;
  src: url(./IRANSansXFaNum-Medium.ttf);
}
.contact {
  font-family: name;
}
.list {
  font-family: nf;
}
