.introduction {
  background-image: linear-gradient(
    180deg,
    rgb(16, 16, 17) 0%,
    rgba(37, 35, 35, 0.822) 100%
  ) !important;
}
@font-face {
  font-family: name;
  src: url(./Lalezar-Regular.ttf);
}
@font-face {
  font-family: des;
  src: url(./IRANSansWeb_Light.ttf);
}
@font-face {
  font-family: nf;
  src: url(./IRANSansXFaNum-Medium.ttf);
}
.name {
  font-size: 40px;
  font-family: name;
}
.des {
  font-family: des;
}
.information {
  font-family: name;
  font-size: 20px;
}
.informationrespons {
  font-family: des;
}
.age,
.phone {
  font-family: nf;
}
