.main {
  background-image: url("./img/3.jpg");
  background-size: cover !important;
  padding-bottom: 17px;
}
@font-face {
  font-family: name;
  src: url(./Lalezar-Regular.ttf);
}
@font-face {
  font-family: des;
  src: url(./IRANSansWeb_Light.ttf);
}
@font-face {
  font-family: nf;
  src: url(./IRANSansXFaNum-Medium.ttf);
}
.name {
  font-size: 40px;
  font-family: name;
}
.des {
  font-family: des;
}
.information {
  font-family: name;
  font-size: 20px;
}
.informationrespons {
  font-family: des;
}
.age,
.phone {
  font-family: nf;
}
